
		
		<div class="header">
				<h1 id="CompanyName">HYBC LLC.</h1>
		
			<div class="links">	
				<a href="index.html" id="link1">About</a>
				<a href="portfolio.html" id="link2">Portfolio</a>
				<a href="contact.html" id="link3">Contact</a>
			</div>
		</div>

		<hr id="header_hr" />
			
		</div>
		
	<div class="body">
			<div class="bodyPart2">
			
			<div class="bodyPart2-1">
				<div id="bodyPart2-1-1">
					<h2 class="h2class">Contacts</h2>
					<hr />

					<div class="bodyPart2-1-2">
						<br>Name</br>
						<input type="name" name="John Smith" id="nameBox">
						<br>Email</br>
						<input type="Email" name="Example@yourdomain.com" id="emailBox">
						<br>Message</br>
						<input type="Message" name="" id="messageBox">
					</div>
						<button id="submitBtn">Submit</button>
				</div>
			
				
			</div>
		
			<div class="bodyPart2-2">
				<h3 id="h2-2">Connect with HYBC</h3>
				<hr />
				<a href="https://geerooniimoo.github.io/Basic-Porfolio/" id="GitHub" /><img src="assets/images/GitHub.png">
				<a href="https://www.linkedin.com/in/geronimo-perez-27687061/" id="LinkedIn"><img src="assets/images/LinkedIn.png"></a>
				<a href="https://stackoverflow.com/users/8864857/geronimo-perez" id="StackFlow"><img src="assets/images/StackFlow.png"></a>
			</div>
		</div>

		<div class="footer">
			<hr id="footer_hr" />
			<h5>Copyright 2016 Hope You Buy Cheap LLC.</h5>
		</div>
	</div>
