<!DOCTYPE html>
<html>

<head>
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	  
	

	<title>   </title>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<script src="../public/js/chat.js"/></script>
	<link href="../public/assets/css/chat.css"  type="text/css" rel="stylesheet"/>


</head>


	<body>

{{{body}}}


			<div id="chat">
		<div id="chat-window">
				
			<div id="output"/>  </div>
			<div id="feedback"/> </div>


		</div>	
			<input id="handle" type="text" placeholder="Name"/>
			<input id="message" class="clear" type="text" placeholder="Message"/>
			<button id="send" class="clear">Send</button>         

	</div>


	</body>


</html>