
		
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="/">HYBC LLC</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="/contact-us">Contact Us</a>
		      </li>
		      <li class="nav-item dropdown active">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Products
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="/all">All Products</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="/mens">Men's T-Shirts</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="/womens">Women's T-Shirts</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="search">Search Products</a>
		        </div>
		      </li>
		    </ul>
		    <form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		    </form>
		  </div>
		</nav>

		<hr id="header_hr" />
		
	<div class="body">
			<div class="bodyPart2">
			
			<div class="bodyPart2-1">
				<div id="bodyPart2-1-1">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><strong>Men's Products</strong></h3>
						</div>
						<div class="panel-body">
							
								
						</div>
					</div>
				</div>
			</div>			
				</div>

				<div>

					<div class="panel-body" id="well-section">
						<!-- Content will go in here -->
					</div>
				</div>
			</div>
		</div>
</body>
</html>
		
	<script type="text/javascript">

	$("#search-btn").on("click", function() {
		  // save the product they typed into the product-search input
		  var searchedProduct = $("#product-search")
		    .val()
		    .trim();

		  // Using a RegEx Pattern to remove spaces from searchedCharacter
		  searchedProduct = searchedProduct.replace(/\s+/g, "").toLowerCase();

		  // we run an AJAX GET-request for our servers api,
		  // including the user's product in the url
		  $.get("/api/" + searchedProduct, function(data) {
		    
		    // empty to well-section before adding new content
		    $("#well-section").empty();
		    // if the data is not there, then return an error message
		    if (!data) {
		      $("#well-section").append("<h2> Sorry! No results found. </h2>");
		    }
		    else {
		    	console.log(data);
		    }
		  });
		});
		
		// Make a get request to our api route that will return every product
		$.get("/api/all", function(data) {
			
			  $(".bodyPart2-1").css("overflow", "auto")
			  // For each book that our server sends us back
			  for (var i = 0; i < data.length; i++) {
					if (data[i].gender == "men" && data[i].gender !== "women") {
					    // Create a parent div to hold product data
					    var wellSection = $("<div>");
					    // Add a class to this div: 'well'
					    wellSection.addClass("well");
					    // Add an id to the well to mark which well it is
					    wellSection.attr("id", "product-well-" + i);
					    wellSection.css("float", "left");
					    wellSection.css("text-align", "center");
					    wellSection.css("margin", "10px");
					    // Append the well to the well section
					    $(".bodyPart2-1").append(wellSection);

					    // Now  we add our product data to the well we just placed on the page
					    $("#product-well-" + i).append(`<img src=${data[i].images} width=150px height=150px />`);
					    $("#product-well-" + i).append("<h4>" + data[i].product_name + "</h4>");
					    $("#product-well-" + i).append("<h5>Price: $" + data[i].price + "</h5>");
					    $("#product-well-" + i).append("<h5>Inventory: " + data[i].stock_quantity + "</h5>");
				  	}
				}
		});

	</script>