
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="/">HYBC LLC</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="/contact">Contact Us</a>
		      </li>
		      <li class="nav-item dropdown active">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Products
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="/all">All Products</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="/mens">Men's T-Shirts</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="/womens">Women's T-Shirts</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="search">Search Products</a>
		        </div>
		      </li>
		    </ul>
			<a href="/checkout" class="btn btn-danger">
  				<i class="fas fa-shopping-cart"> Checkout</i>
			</a>
		  </div>
		</nav>

		<hr id="header_hr" />
		
	<div class="body">
			<div class="bodyPart2">
			
			<div class="bodyPart2-1" id="products-body">
				<div id="bodyPart2-1-1">
					<h2 class="h2class">Products</h2>
					<hr />
				</div>
					
					<div class="img1">
						<a href="assets/images/EternalLifeWh.png"><img src="assets/images/EternalLifeWh.png" height="100px" width="100px"></a>
						<h4 class="imgText">Eternal Life?</h4>
					</div>	
					
					<div class="img1">
						<a href="assets/images/EternalLifeBk.png"><img src="assets/images/EternalLifeBk.png" height="100px" width="100px"></a>
						<h4 class="imgText">Eternal Life?</h4>
					</div>

					<div class="img1">
						<a href="assets/images/GoodDoesNoEvilWh.png"><img src="assets/images/GoodDoesNoEvilWh1.png" height="100px" width="100px"></a>
						<h4 class="imgText">Good Does No Evil</h4>
					</div>

					<div class="img1">
						<a href="assets/images/GoodDoesNoEvilBk.png"><img src="assets/images/GoodDoesNoEvilBk1.png" height="100px" width="100px">
						<h4 class="imgText">Good Does No Evil</h4></a>
					</div>

					<div class="img1">
						<a href="assets/images/MenUpWh.png"><img src="assets/images/MenUpWh.png" height="100px" width="100px">
						<h4 class="imgText">Man Up</h4></a>
					</div>

					<div class="img1">
						<a href="assets/images/MenUpBk.png"><img src="assets/images/MenUpBk.png" height="100px" width="100px">
						<h4 class="imgText">Man Up</h4></a>
					</div>
			</div>
		</div>
	</div>
