<!DOCTYPE html>
<html lang="en-us">

<head>


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	


	  
	

	<title>HYBY.LLC</title>

	<link href="assets/css/style.css"  type="text/css" rel="stylesheet"/>
	




</head>
<body>

<div id="well-section" ></div>

<script type="text/javascript">
			$.get('/api/all', function(data) {
			console.log(data);
		  // For each book that our server sends us back
		  for (var i = 0; i < data.length; i++) {
		  	if (data[i].gendar == "men") {
			    // Create a parent div to hold product data
			    var wellSection = $("<div>");
			    // Add a class to this div: 'well'
			    wellSection.addClass("well");
			    // Add an id to the well to mark which well it is
			    wellSection.attr("id", "product-well-" + i);
			    // Append the well to the well section
			    $("#well-section").append(wellSection);

			    // Now  we add our product data to the well we just placed on the page
			    $("#product-well-" + i).append("<h2>" + (i + 1) + ". " + data[i].product_name + "</h2>");
			    $("#product-well-" + i).append("<h3>Product Kind: " + data[i].product_kind + "</h4>");
			    $("#product-well-" + i).append('<img src="' + data[i].images + '" />');
			    $("#product-well-" + i).append("<h3>Price: " + data[i].price + "</h4>");
			    $("#product-well-" + i).append("<h3>Stock Quantity: " + data[i].stock_quantity + "</h4>");
		  	}
		  }
		});
</script>
</body>
</html>