
		
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="/">HYBC LLC</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="/contact-us">Contact Us</a>
		      </li>
		      <li class="nav-item dropdown active">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Products
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="/all">All Products</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="/mens">Men's T-Shirts</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="/womens">Women's T-Shirts</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="search">Search Products</a>
		        </div>
		      </li>
		    </ul>
		    <form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		    </form>
		  </div>
		</nav>

		<hr id="header_hr" />
<body>
		
	<div class="body">
			<div class="bodyPart2">
			
			<div class="bodyPart2-1">
				<div id="bodyPart2-1-1">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><strong>Women's Products</strong></h3>
						</div>
						<div class="panel-body">
							
								
						</div>
					</div>
				</div>
			</div>			
				</div>

				<div>

					<div class="panel-body" id="well-section">
						<!-- Content will go in here -->
					</div>
				</div>
			</div>
		</div>
</body>
</html>
		
	<!-- Custom Script -->
	<script type="text/javascript">
		
		// Code here handles queries for specific products in the database
		// In this case, the user submits a products name... we then pass that product's name as a
		// URL parameter. Our server then performs the search to grab that product from the Database.

		// when user hits the search-btn
		$("#search-btn").on("click", function() {
		  // save the product they typed into the product-search input
		  var searchedProduct = $("#product-search")
		    .val()
		    .trim();

		  // Using a RegEx Pattern to remove spaces from searchedCharacter
		  searchedProduct = searchedProduct.replace(/\s+/g, "").toLowerCase();

		  // we run an AJAX GET-request for our servers api,
		  // including the user's product in the url
		  $.get("/api/" + searchedProduct, function(data) {
		    
		    // empty to well-section before adding new content
		    $("#well-section").empty();
		    // if the data is not there, then return an error message
		    if (!data) {
		      $("#well-section").append("<h2> Sorry! No results found. </h2>");
		    }
		    else {
		    	console.log(data);
		    }
		  });
		});


	</script>
